html {
  font-family: "Helevetica", sans-serif;
}

body {
  background-image: url("img2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: #333;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
  style = width: 100%;
}

div:focus {
  outline: none;
}

#heading {
  font-size: 48px;
  padding-top: 30px;
  color: white;
}

#content {
  padding-top: 10px;
  font-size: 24px;
  color: white;
}
